.navbar{
	background: #999;
	}
	.icon-phone{
		background-image: url(/icons/phone.png);
	}
	.phone{
		justify-content: flex-end;
	}
	.row2{
		background: #999;
		color: #000;
		justify-content: space-around;
	}
	.social-items{
		list-style-type: none;
		display: block;
	}
